---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigations from '../components/Navigations.astro';
const pageTitle = "4zero4";
---
<BaseLayout pageTitle={pageTitle}>
	<h1 class="text-4xl font-bold mb-4">ᜊ᜔ᜎᜈ᜔ᜃ᜔</h1>
	<div class="p-4">
		<p class="italic text-neutral-600">null</p>
	</div>
	<Navigations url={"/"}/>
</BaseLayout>
