---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "4 zero 4";
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class="text-4xl font-bold mb-4">ᜊ᜔ᜎᜈ᜔ᜃ᜔</h1>
	<div class="p-4">
		<p>Ito ay 404 error.</p>
	</div>
</BaseLayout>