---
import BaseLayout from '../layouts/BaseLayout.astro';
import Projects from '../components/Projects.astro';
import Writings from '../components/Writings.astro';
import Socials from '../components/Socials.astro';
import Skills from '../components/Skills';

const pageTitle = "jemcv";

const information = {
  name: "Jem",
  country: "PH",
  occupation: "Full Stack Developer",
  hobbies: ["technology", "coding", "mechanical keyboards"],
};
/*
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Emoji&family=Noto+Sans+Tagalog&display=swap" rel="stylesheet">
*/
---
<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-4xl font-bold mb-4">ᜇᜒᜌᜒᜋ᜔</h1>
  <div class="p-4">
    <p class="mb-4">Hey! 👋  I'm <span class="font-bold">{information.name}</span>.</p>
    <p>A <span class="font-bold">Full Stack Developer</span> building with a '<span class="font-bold italic">less is more</span>' philosophy.</p>
    <p class="mt-4">Check out my previous <a href="https://jemcv.github.io/web" target="_blank"><span class="font-bold underline">Linux setup</span>.</a> 🐧</p>  
  </div>
    <Skills />
    <Projects />
    <Writings />
    <Socials />
</BaseLayout>
