---
const { Icon, title, description, url } = Astro.props;
---

<div class="flex items-center p-4">
    <div class="w-8">
        <Icon size={48} strokeWidth={1}/> 
    </div>
    <div class="ml-8">
        <p class="font-semibold"><a class="border border-transparent hover:border-neutral-100 underline" href={url}>{title}</a></p>
        <p>{description}</p>
    </div>
</div>