---
const { Icon, title, url } = Astro.props;
---

<a class="flex mr-2 items-center border border-transparent hover:border-slate-100 underline" href={url} target="_blank" aria-label={title}>
    <span class="mr-1">
        <Icon size={16} strokeWidth={2} /> 
    </span>
    {title}
</a>