---
import { ArrowLeftIcon } from 'astro-feather';

const { url } = Astro.props
---
<nav class="flex justify-end">
    <a href={url} class="flex items-center border border-transparent hover:border-slate-100 underline">
        <ArrowLeftIcon size={24} />
        <span class="ml-1">Back</span>
    </a>
</nav>
