---
import { ViewTransitions } from "astro:transitions";
const { pageTitle } = Astro.props;  
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Memento mori.">
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head> 
  <body class="max-w-3xl mx-auto p-4 md:p-6 bg-neutral-950 color text-neutral-200">
    <slot />
  </body>
</html>